---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SqueezeForm from "../../components/react/SqueezeForm.tsx";
---
<BaseLayout title="Test Import">
  <h1>Hello World (Import)</h1>
  <p>If you see this, the import worked.</p>
</BaseLayout>
